@import url(https://fonts.googleapis.com/css2?family=Hind:wght@400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Hind:wght@400;600&family=Montserrat:wght@500;700&display=swap);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Hind','open Sans';
  color: #151515;
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.big-title {
  font-size: 3.125em;
  line-height: 1.28em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.malic-btn {
  display: inline-block;
  height: 50px;
  min-width: 150px;
  background: #13788A;
  border-radius: 0.25em;
  position: relative;
}

.malic-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 100%;
  border-radius: 0.25em;
  background: #151515;
  z-index: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.malic-btn:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.malic-btn span {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #FFFFFF;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  font-size: 1em;
  font-weight: 600;
}

.header {
  background: #151515;
  z-index: 999;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.9375em;
}

@media screen and (max-width: 759px) {
  .top-bar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0.9375em;
  }
}

.bar-contatc ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9375em 0;
}

@media screen and (max-width: 759px) {
  .bar-contatc ul {
    padding-bottom: px;
  }
}

.bar-contatc ul li {
  padding-left: 0.9375em;
  color: #FFFFFF;
}

@media screen and (max-width: 759px) {
  .bar-contatc ul li {
    padding-left: 0;
  }
}

.bar-contatc ul li a {
  display: block;
  padding-left: 0.9375em;
  color: #FFFFFF;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 759px) {
  .bar-contatc ul li a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 1.875em;
  }
}

@media screen and (max-width: 759px) {
  .bar-contatc ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.bar-contatc ul li:nth-child(3) .iconify {
  width: 20px;
  height: 20px;
}

.bar-contatc ul li a:hover {
  color: #34A5B3;
}

.bar-contatc .iconify {
  margin-right: 0.625em;
  vertical-align: middle;
}

.login a {
  margin-right: 5em;
  color: #FFFFFF;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.login a a:hover {
  color: #34A5B3;
}

@media screen and (max-width: 759px) {
  .login a {
    margin-right: 0;
  }
}

.nav {
  background: #FFFFFF;
  -webkit-box-shadow: 10px 1px 12px -7px black;
  box-shadow: 10px 1px 12px -7px black;
}

.stick-op {
  width: 100vw;
  opacity: 0;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  z-index: 999;
}

.stick {
  width: 100vw;
  opacity: 1;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

.nav-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr minmax(100px, 190px) 50px;
      grid-template-columns: 1fr 1fr minmax(100px, 190px) 50px;
  padding: 20px 10px;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  max-width: 150px;
}

@media screen and (max-width: 1100px) {
  .logo {
    max-width: 25%;
    min-width: 130px;
  }
}

.nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 759px) {
  .nav-menu ul {
    display: none;
  }
}

.nav-menu ul li a {
  padding: 0 15px;
  color: #151515;
  font-weight: 600;
}

.form-header-search input {
  width: 100%;
  max-width: 150px;
  padding: 0.625em 0 0.625em 0.9375em;
  border: 1px solid #13788A;
  border-top-left-radius: 1.875em;
  border-bottom-left-radius: 1.875em;
}

@media screen and (max-width: 1100px) {
  .form-header-search input {
    display: none;
  }
}

.form-header-search .btn-search {
  background: #13788A;
  padding: 0.625em 0.9375em;
  border: 1px #13788A solid;
  border-top-right-radius: 1.875em;
  border-bottom-right-radius: 1.875em;
  margin-left: -5px;
  color: #FFFFFF;
}

@media screen and (max-width: 1100px) {
  .form-header-search .btn-search {
    background: #F9FAFC;
    border: 0;
    color: #151515;
    font-size: 1.25em;
    margin-left: 40px;
  }
}

.btn-cart {
  color: #151515;
  margin-right: 20px;
}

.hero {
  background-color: #F9FAFC;
}

.hero-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1px;
  padding: 5em 0.9375em;
}

@media screen and (max-width: 759px) {
  .hero-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.hero-content p {
  font-size: 1.25em;
  color: #151515;
  margin: 2.5em 0;
  max-width: 600px;
}

@media screen and (max-width: 759px) {
  .hero-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.hero-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  min-width: 50%;
  margin-right: 2.5em;
}

@media screen and (max-width: 759px) {
  .hero-image {
    margin-right: 0;
  }
}

.cards-section {
  background-image: url("/public/assests/bg-image.png");
  background-size: initial;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 5em 0.9375em;
  height: 600px;
}

.cards-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.875em 1.875em;
  margin-left: 1.875em;
  margin-top: 1.875em;
  max-width: 280px;
  height: 320px;
  background: #FFFFFF;
  text-align: center;
  -webkit-box-shadow: 2px 4px 11px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 4px 11px -1px rgba(0, 0, 0, 0.2);
  color: #7D7D7D;
}

.card h3 {
  color: #34A5B3;
  font-size: 1.125em;
  font-weight: 700;
}

.card:nth-child(1) {
  margin-left: 0;
}
/*# sourceMappingURL=main.css.map */