@import url(https://fonts.googleapis.com/css2?family=Hind:wght@400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Hind:wght@400;600&family=Montserrat:wght@500;700&display=swap);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Hind','open Sans';
  color: #151515;
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.big-title {
  font-size: 3.125em;
  line-height: 1.28em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 759px) {
  .big-title {
    margin-top: 0.9375em;
    font-size: 2.375em;
    line-height: em 54, 36;
  }
}

.sub-title-about {
  font-size: 1.125em;
  line-height: 1.55556em;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #34A5B3;
  margin-bottom: 0.9375em;
}

.title-about {
  font-size: 1.625em;
  line-height: 1.53846em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #151515;
  margin-bottom: 0.9375em;
}

.divisor-title {
  font-size: 1.75em;
  line-height: 1.35714em;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  color: #151515;
  position: relative;
}

.divisor-title::before {
  content: url(./../../public/assets/wave-divider.png);
  display: inline-block;
  position: absolute;
  top: 38px;
  width: 60px;
  height: 20px;
}

.divisor-title::after {
  content: url(./../../public/assets/wave-divider.png);
  display: inline-block;
  position: absolute;
  top: 38px;
  width: 60px;
  right: 8px;
}

.malic-btn {
  display: inline-block;
  height: 50px;
  min-width: 150px;
  background: #13788A;
  border-radius: 0.25em;
  position: relative;
}

.malic-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 100%;
  border-radius: 0.25em;
  background: #151515;
  z-index: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.malic-btn:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.malic-btn span {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #FFFFFF;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  font-size: 1em;
  font-weight: 600;
}

.header {
  background: #151515;
  z-index: 999;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.9375em;
}

@media screen and (max-width: 759px) {
  .top-bar {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0.9375em;
  }
}

.bar-contatc ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9375em 0;
}

@media screen and (max-width: 759px) {
  .bar-contatc ul {
    padding-bottom: px;
  }
}

.bar-contatc ul li {
  padding-left: 0.9375em;
  color: #FFFFFF;
}

@media screen and (max-width: 759px) {
  .bar-contatc ul li {
    padding-left: 0;
  }
}

.bar-contatc ul li a {
  display: block;
  padding-left: 0.9375em;
  color: #FFFFFF;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 759px) {
  .bar-contatc ul li a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 1.875em;
  }
}

@media screen and (max-width: 759px) {
  .bar-contatc ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.bar-contatc ul li:nth-child(3) .iconify {
  width: 20px;
  height: 20px;
}

.bar-contatc ul li a:hover {
  color: #34A5B3;
}

.bar-contatc .iconify {
  margin-right: 0.625em;
  vertical-align: middle;
}

.login a {
  margin-right: 5em;
  color: #FFFFFF;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.login a a:hover {
  color: #34A5B3;
}

@media screen and (max-width: 759px) {
  .login a {
    margin-right: 0;
  }
}

.nav {
  background: #FFFFFF;
  -webkit-box-shadow: 10px 1px 12px -7px black;
  box-shadow: 10px 1px 12px -7px black;
}

.stick-op {
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  z-index: 999;
}

.stick {
  width: 100%;
  opacity: 1;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr minmax(100px, 190px) 25px 25px;
      grid-template-columns: 1fr 1fr minmax(100px, 190px) 25px 25px;
  padding: 20px 10px;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 759px) {
  .nav-bar {
    gap: 5px;
    -ms-grid-columns: minmax(50px, 100px) 1fr minmax(50px, 100px) 50px 50px;
        grid-template-columns: minmax(50px, 100px) 1fr minmax(50px, 100px) 50px 50px;
  }
}

.logo {
  max-width: 150px;
}

@media screen and (max-width: 1100px) {
  .logo {
    max-width: 25%;
    min-width: 130px;
  }
}

.nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 759px) {
  .nav-menu ul {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0px;
    left: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #13788A;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-menu ul li a {
  padding: 0 15px;
  color: #151515;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 759px) {
  .nav-menu ul li a {
    display: block;
    padding: 15px;
    font-size: 2em;
  }
  .nav-menu ul li a:hover {
    color: #FFFFFF;
  }
}

.nav-menu ul li a:hover {
  color: #13788A;
}

@media screen and (max-width: 759px) {
  .nav-menu .active {
    left: 0;
  }
}

.form-header-search input {
  width: 100%;
  max-width: 150px;
  padding: 0.625em 0 0.625em 0.9375em;
  border: 1px solid #13788A;
  border-top-left-radius: 1.875em;
  border-bottom-left-radius: 1.875em;
  outline: none;
}

@media screen and (max-width: 1100px) {
  .form-header-search input {
    display: none;
    max-width: 50px;
  }
}

.form-header-search .btn-search {
  background: #13788A;
  padding: 0.625em 0.9375em;
  border: 1px #13788A solid;
  border-top-right-radius: 1.875em;
  border-bottom-right-radius: 1.875em;
  margin-left: -5px;
  color: #FFFFFF;
}

@media screen and (max-width: 1100px) {
  .form-header-search .btn-search {
    background: #F9FAFC;
    border: 0;
    color: #151515;
    font-size: 1.25em;
    margin-left: 40px;
  }
}

.btn-cart {
  color: #151515;
  margin-left: 10px;
}

.menu-togle {
  z-index: 999;
  margin-left: 10px;
}

.menu-togle a {
  cursor: pointer;
  display: none;
  z-index: 99;
}

@media screen and (max-width: 759px) {
  .menu-togle a {
    display: block;
    z-index: 1090;
  }
}

.noscrol {
  overflow: hidden;
}

.hero {
  background-color: #F9FAFC;
}

.hero-slider {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1px;
  overflow: hidden;
  padding: 2.5em 0.9375em;
}

@media screen and (max-width: 759px) {
  .hero-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.hero-content p {
  font-size: 1.25em;
  color: #151515;
  margin: 2.5em 0;
  max-width: 600px;
}

@media screen and (max-width: 759px) {
  .hero-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.hero-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  min-width: 50%;
  margin-right: 2.5em;
}

@media screen and (max-width: 759px) {
  .hero-image {
    margin-right: 0;
  }
}

.hidden {
  display: none;
}

.cards-section {
  background-image: url("/public/assets/bg-image.png");
  background-size: initial;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 2.5em 0.9375em;
}

.cards-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375em;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.875em 1.875em;
  margin-top: 1.875em;
  max-width: 450px;
  height: 320px;
  background: #FFFFFF;
  text-align: center;
  -webkit-box-shadow: 2px 4px 11px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 4px 11px -1px rgba(0, 0, 0, 0.2);
  color: #7D7D7D;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.card h3 {
  color: #34A5B3;
  font-size: 1.125em;
  font-weight: 700;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5em 0.9375em;
}

@media screen and (max-width: 759px) {
  .about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 49%;
          flex: 1 0 49%;
  color: #7D7D7D;
}

@media screen and (max-width: 759px) {
  .about-content {
    -webkit-box-flex: 1;
        -ms-flex: 1  0 100%;
            flex: 1  0 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.about-content p {
  margin-bottom: 0.9375em;
}

.about-content ul {
  margin-bottom: 1.875em;
}

.about-content ul li {
  padding: 0.625em 0;
}

.about-content .check {
  color: #34A5B3;
  margin: 0 0.625em 0 0.625em;
  font-size: 0.875em;
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
}

.about-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding: 1.875em 0;
}

@media screen and (max-width: 759px) {
  .about-image {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5em 0;
}

.services > p {
  color: #7D7D7D;
  text-align: center;
  max-width: 680px;
  font-size: 1em;
  line-height: 1.625em;
  margin-top: 0.9375em;
}

.services-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875em;
  margin-top: 2.5em;
}

.card-flip {
  position: relative;
  width: 300px;
  height: 250px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card-flip .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: perspective(500px) rotateY(0deg);
          transform: perspective(500px) rotateY(0deg);
}

.card-flip .face.front {
  background: #151515;
  overflow: hidden;
}

.card-flip .face.front img {
  height: 100%;
  position: relative;
  opacity: 0.7;
}

.card-flip:hover .face.front {
  -webkit-transform: perspective(500px) rotateY(180deg);
          transform: perspective(500px) rotateY(180deg);
}

.card-flip .face.back {
  background: #13788A;
  color: #FFFFFF;
  -webkit-transform: perspective(500px) rotateY(180deg);
          transform: perspective(500px) rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.875em;
  text-align: center;
}

.card-flip .face.back h3 {
  font-size: 1.25em;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 0.9375em;
}

.card-flip .face.back p {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 1.875em;
}

.card-flip .face.back a {
  color: #FFFFFF;
  font-weight: 700;
  display: inline-block;
}

.card-flip .face.back .iconify {
  vertical-align: middle;
  margin-left: 6px;
}

.card-flip:hover .face.back {
  -webkit-transform: perspective(500px) rotateY(360deg);
          transform: perspective(500px) rotateY(360deg);
}

.card-flip .face h2 {
  font-size: 1.25em;
  font-weight: 700;
  color: #FFFFFF;
  position: absolute;
}

.footer {
  background: #000 url(./../../public/assets/footer-area-bg.png);
  background-size: cover;
  background-position: left center;
  padding: 5em 0;
  color: #FFFFFF;
  margin-top: 1.875em;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.9375em;
  gap: 0.9375em;
}

@media screen and (max-width: 759px) {
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 600px;
  }
}

.footer-about {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.footer-about img {
  margin-bottom: 1.875em;
}

.footer-about p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.875em;
}

.footer-about .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375em;
}

.footer-about .social-media a {
  width: 35px;
  height: 35px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-about .social-media a .iconify {
  color: #FFFFFF;
  font-size: 20px;
}

.footer-about .social-media a:hover {
  background: #13788A;
}

@media screen and (max-width: 759px) {
  .footer-about {
    margin-bottom: 2.5em;
  }
}

.footer-contact {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.footer-contact h2 {
  font-size: 1.25em;
  line-height: 0.66667em;
  font-weight: 700;
  margin-bottom: 1.875em;
}

.footer-contact ul li {
  padding-bottom: 1.875em;
  margin-left: 1.875em;
}

.footer-contact ul li a {
  color: #FFFFFF;
  position: relative;
}

.footer-contact .iconify {
  position: absolute;
  top: 5px;
  left: -35px;
  color: #13788A;
  font-size: 20px;
}

@media screen and (max-width: 759px) {
  .footer-contact {
    margin-bottom: 1.875em;
  }
}

.footer-twitter {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.footer-twitter h2 {
  font-size: 1.25em;
  line-height: 0.66667em;
  font-weight: 700;
  margin-bottom: 1.875em;
}

.footer-twitter ul li {
  padding-bottom: 1.875em;
  margin-left: 1.875em;
}

.footer-twitter ul li a {
  color: #FFFFFF;
  font-weight: 600;
  position: relative;
}

.footer-twitter ul li span {
  display: block;
  margin-top: 0.625em;
  opacity: 0.5;
  font-size: 0.9375em;
  font-weight: 400;
}

.footer-twitter .iconify {
  position: absolute;
  top: 5px;
  left: -35px;
  color: #13788A;
  font-size: 24px;
}

.footer-instagram {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}

.footer-instagram h2 {
  font-size: 1.25em;
  line-height: 0.66667em;
  font-weight: 700;
  margin-bottom: 1.875em;
}
/*# sourceMappingURL=main.css.map */