<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/main.css" />
    <title>Malic - Fishing & Hunting Club</title>
  </head>
  <body>
    <header class="header">
      <div class="top-bar container">
        <div class="bar-contatc">
          <ul>
            <li>FREE shipping over $50</li>
            <li>
              <a href="#"
                ><span class="iconify" data-icon="fa-solid:phone-alt"></span
                >1-888-345-6789</a
              >
            </li>
            <li>
              <a href="#"
                ><span
                  class="iconify"
                  data-icon="dashicons:email-alt"
                  data-inline="false"
                ></span
                >contact@example.com</a
              >
            </li>
          </ul>
        </div>
        <div class="login">
          <a href="#">Log In / Register</a>
        </div>
      </div>
      <nav class="nav">
        <div class="nav-bar container">
          <div class="logo">
            <img src="../../public/assests/logo.png" alt="Logo Malic" />
          </div>
          <div class="nav-menu">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Service</a></li>
              <li><a href="#">Pages</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>

          <form class="form-header-search" action="#">
            <input type="text" placeholder="Search" />
            <button class="btn-search"><span class="iconify" data-icon="heroicons-solid:search" data-inline="false"></span></button>
          </form>
          <a class="btn-cart" href="#"
            ><span
              class="iconify"
              data-icon="map:grocery-or-supermarket"
              data-inline="false"
            ></span
          ></a>
        </div>
      </nav>
    </header>

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  </body>
</html>
