<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/main.css" />
    <title>Malic - Fishing & Hunting Club</title>
  </head>
  <body>
    <header class="header">
      <div class="top-bar container">
        <div class="bar-contatc">
          <ul>
            <li>FREE shipping over $50</li>
            <li>
              <a href="#"
                ><span class="iconify" data-icon="fa-solid:phone-alt"></span
                >1-888-345-6789</a
              >
            </li>
            <li>
              <a href="#"
                ><span
                  class="iconify"
                  data-icon="dashicons:email-alt"
                  data-inline="false"
                ></span
                >contact@example.com</a
              >
            </li>
          </ul>
        </div>
        <div class="login">
          <a href="#">Log In / Register</a>
        </div>
      </div>
      <nav class="nav">
        <div class="nav-bar container">
          <div class="logo">
            <img src="../../public/assests/logo.png" alt="Logo Malic" />
          </div>
          <div class="nav-menu">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Service</a></li>
              <li><a href="#">Pages</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>

          <form class="form-header-search" action="#">
            <input type="text" placeholder="Search" />
            <button class="btn-search">
              <span
                class="iconify"
                data-icon="heroicons-solid:search"
                data-inline="false"
              ></span>
            </button>
          </form>
          <a class="btn-cart" href="#"
            ><span
              class="iconify"
              data-icon="map:grocery-or-supermarket"
              data-inline="false"
            ></span
          ></a>
        </div>
      </nav>
    </header>
    <section class="hero">
      <div class="hero-slider container">
        <div class="hero-content">
          <h1 class="big-title">
            A thing of beauty is a joy forever for women
          </h1>
          <p>
            The experience of beauty often involves an interpretation of some
            entity as being in balance.
          </p>
          <a class="malic-btn" href="#"> <span>Read more</span></a>
        </div>
        <div class="hero-image">
          <img src="../../public/assests/heroslider-image-1.png" alt="" />
        </div>
      </div>
    </section>
    <section class="cards-section">
      <div class="cards-wrap container">
        <div class="card">
          <img src="../../public/assests/icon-feature-1.png" alt="Ice Fishing" />
          <h3>Ice Fishing</h3>
          <p>
            Ice fishing is the practice of catching fish with lines and fish
            hooks or spears through
          </p>
        </div>
        <div class="card">
          <img src="../../public/assests/icon-feature-2.png" alt="Fly Fishing" />
          <h3>Fly Fishing</h3>
          <p>
            Fly fishing can be thought of as a method of casting line rather
            than lure.
          </p>
        </div>
        <div class="card">
          <img src="../../public/assests/icon-feature-3.png" alt="Fishing Tips" />
          <h3>Fishing Tips</h3>
          <p>
            We use different types of tips for fishing in the pond, sea or ice.
          </p>
        </div>
        <div class="card">
          <img src="../../public/assests/icon-feature-4.png" alt="Boat Fishing" />
          <h3>Boat Fishing</h3>
          <p>
            Boat fishing is fishing from a boat in easy sight of land and in
            water.
          </p>
        </div>
      </div>
    </section>

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  </body>
</html>
