.big-title {
  font-size: em(50);
  line-height: em(64, 50);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  @include device(mobile){
    margin-top: $gap-small;
    font-size: em(38);
    line-height: em (54,36);
  }
}

.sub-title-about {
  font-size: em(18);
  line-height: em(28, 18);
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: $secondary-color-light;
  margin-bottom: $gap-small;
}

.title-about {
  font-size: em(26);
  line-height: em(40, 26);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: $dark-color;
  margin-bottom: $gap-small;
}

.divisor-title {
  font-size: em(28);
  line-height: em(38, 28);
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  color: $dark-color;
  position: relative;
  &::before {
    content: url(./../../public/assests/wave-divider.png);
    display: inline-block;
    position: absolute;
    top: 38px;
    width: 60px;
    height: 20px;
  };
  &::after {
    content: url(./../../public/assests/wave-divider.png);
    display: inline-block;
    position: absolute;
    top: 38px;
    width: 60px;
    right: 8px;
  }
}
