.cards-section {
  background-image: url("/public/assests/bg-image.png");
  background-size: initial;
  background-repeat: no-repeat;
  background-position: left center;
  padding: $gap-xlarger $gap-small;
  height: 600px;
 
}

.cards-wrap {
  opacity: 1;
}