.cards-section {
  background-image: url("/public/assets/bg-image.png");
  background-size: initial;
  background-repeat: no-repeat;
  background-position: left center;
  padding: $gap-larger $gap-small;
}

.cards-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: $gap-small;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: $gap-medium $gap-medium;
  margin-top: $gap-medium;
  max-width: 450px;
  height: 320px;
  background: $light-color;
  text-align: center;
  @include box-shadow(2px 4px 11px -1px rgba(0,0,0,0.20));
  color: $paragrafh-color;
  transition: .5s ease;
  & h3 {
    color: $secondary-color-light;
    font-size: em(18);
    font-weight: 700;
    
  };
  &:hover {
    transform: scale(1.05);
  }
}
